@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

button,
input,
select,
textarea {
  @apply bg-slate-800 text-slate-100 border border-slate-700 rounded-md;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  @apply outline-none ring-2 ring-accent ring-opacity-50;
}
